repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    - id: end-of-file-fixer
    - id: trailing-whitespace
-   repo: https://github.com/asottile/reorder-python-imports
    rev: v3.14.0
    hooks:
    - id: reorder-python-imports
      args: [--application-directories=.:src]
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.2
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format
      args: [--line-length=79]
- repo: https://github.com/PyCQA/bandit
  rev: '1.8.3'
  hooks:
    - id: bandit
      args: ["-c", "bandit.toml"]
      additional_dependencies: [".[toml]"]
- repo: https://github.com/pycqa/flake8
  rev: '7.2.0'
  hooks:
  - id: flake8
- repo: https://github.com/pycqa/doc8
  rev: 'v1.1.2'
  hooks:
  - id: doc8
- repo: https://github.com/fpgmaas/deptry.git
  rev: 0.23.0
  hooks:
    - id: deptry
      entry: deptry
      args: ["src", "--config", "pyproject.toml"]
